#base-cloud {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#balloon1  {
    min-width: 120px;
    position: absolute;
    bottom: -20vh;
    width: 8%;
    left: 15%;
    overflow: hidden;
}

#cloud1  {
    min-width: 120px;
    position: absolute;
    top: 12vh;
    width: 10%;
    left: 33%;
}

#cloud2  {
    min-width: 120px;
    position: absolute;
    top: 7vh;
    width: 7%;
    right: 37%;
}

.back {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    pointer-events:none;
}

.info-pulse {
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    // color: #ca4295;
    color: #0043a5;
    animation: info-pulse 6s ease-in-out infinite;
    position: absolute;
    bottom: 4vh;
    width: 100vw;
    font-family: "Ilisarniq-Bold";
    z-index: 10;
}

@keyframes info-pulse {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.4;
    }
}