.info-bg {
    // backdrop-filter: blur(10px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0px;
    background-image: -webkit-linear-gradient(top, #f4b2a7 40%, #ffbbf3 100%);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
  }

.main-info {

  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10%; 
  color: #413228;


  .main-info-tag {
    text-transform: uppercase;
    font-family: "Ilisarniq-Bold";
    font-size: calc(6px + 1vh);
    letter-spacing: 1px;
    margin-bottom: 15%;
  }

  .main-info-title {
    font-family: "Canela";
    font-size: calc(12px + 4vh);
    margin-bottom: 2%;
  }

  .main-info-desc {
    margin-bottom: 10%;
  }

  .extra-box-1 {
    padding: 50px 70px 50px 50px;
    background: #41322824;
    color: white;
    width: fit-content;
    max-width: 300px;
    position: absolute;
    left: 40%;
    top: 60%;
  }

  .extra-box-2 {
    border: 2px solid white;
    padding: 50px 80px 50px 60px;
    color: white;
    position: absolute;
    left: 60%;
    top: 30%;
    width: fit-content;
    max-width: 250px;
  }
}
