.info-bg {
    // backdrop-filter: blur(10px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0px;
    background-image: -webkit-linear-gradient(top, #f4b2a7 40%, #ffbbf3 100%);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
  }

.main-info {

  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10%; 
  color: #413228;
  max-width: 50%;

  .main-info-tag {
    text-transform: uppercase;
    font-family: "Ilisarniq-Bold";
    font-size: calc(6px + 1vh);
    letter-spacing: 1px;
    margin-bottom: 9%;
  }

  .main-info-title {
    font-family: "Canela";
    font-size: calc(12px + 4vh);
    margin-bottom: 5%;
  }

  .main-info-desc {
    margin-bottom: 4%;
  }

  .main-info-date {
    font-family: "Ilisarniq";
    font-size: 16px;
    color: #41352a7d;
  }

  .extra-box-1 {
    padding: 50px 70px 50px 50px;
    background: #41322824;
    color: white;
    width: fit-content;
    max-width: 300px;
    position: absolute;
    left: 40%;
    top: 60%;
  }

  .extra-box-2 {
    border: 2px solid white;
    padding: 50px 80px 50px 60px;
    color: white;
    position: absolute;
    left: 55%;
    top: 30%;
    width: fit-content;
    max-width: 250px;
  }

  .main-info-link {
    background-color: #ffffff18;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 25px;
    animation: pulse-data-v-5ec843cd 5s;
    -moz-animation: pulse-data-v-5ec843cd 5s infinite;
    -webkit-animation: pulse-data-v-5ec843cd 5s infinite;
  }

  .highlight-icon {
    width: 30px;
    margin-top: 15px;
    margin-left: 15px;
  }

  @-moz-keyframes pulse /* Firefox */ {
    0% {background: #ffffff18;}
    50% {background: #ffffff67;}
    100% {background: #ffffff18;}
}

@-webkit-keyframes pulse /* Safari and Chrome */ {
    0% {background: #ffffff18;}
    50% {background: #ffffff67;}
    100% {background: #ffffff18;}

  }
}


@media only screen and (max-device-width: 900px) {
  .main-info {
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 5%;
    max-width: 100%;
  }

  .main-info-tag {
    margin-bottom: 4%;
    text-align: end;
  }

  .main-info-title {
    text-align: end;
  }

  .main-info-desc {
    text-align: end;
  }

  .main-info-link {
    float: right;
  }
}

