<div class="info-bg" ref="info" @mousemove="mousemoveEffectBox1">

    <div class="main-info">
        <div>
            <div class="main-info-tag">{{tag}}</div>
            <div class="main-info-title">{{title}}</div>
            <div v-html="desc" class="main-info-desc"></div>
            <a v-if="link1" :href="link1" target="_blank"><div class="main-info-link">
                    <img class="highlight-icon" src="../../assets/images/arrow.png"/>
            </div></a>
        </div>
        <div class="extra-boxes" v-if="!checkMobile()">
            <div v-if="box1" class="extra-box-1" ref="extraBox1" v-html="box1"></div>
            <div v-if="box2" class="extra-box-2" ref="extraBox2" v-html="box2"></div>
        </div>
    </div> 
</div>