@font-face {
  font-family: "Ilisarniq-Bold";
  src: url("../assets/fonts/Ilisarniq-Bold.otf") format("opentype"),
}

@font-face {
  font-family: "Ilisarniq";
  src: url("../assets/fonts/Ilisarniq-Regular.otf") format("opentype"),
}

@font-face {
  font-family: "Canela";
  src: url("../assets/fonts/Canela-Regular.ttf") format("truetype"),
}


html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: "Ilisarniq";
}

#app {
  width: 100%;
  height: 100%;
}
