.home {
  // background-image: -webkit-linear-gradient(top, #ffbbf3 0%, #f4b2a7 100%);
  background-image: -webkit-linear-gradient(top, #f4b2a7 40%, #ffbbf3 100%);
  width: 100vw;
  height: 100vh;
}

.island-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#island {
  position: relative;
  margin-top: 5vh;
  width: 70vw;
  z-index: 1;
  transition: all ease-out;
}
