<div class="corners">
    <div class="top-left-corner">
        <!-- logo typography -->
        <div class="logo-box">
            <img class="name" src="../../assets/images/name.png"/>
        </div>
    
        <!-- social icons -->
    
        <div class="social-icons-box">
            <hr class="social-hr"/>
            <div class="social-icons">
                    <a href="https://www.linkedin.com/in/abhinavchawla13/" target="_blank"><img class="social-icon" src="../../assets/images/linkedin.png"/></a>
                    <a href="https://www.instagram.com/abhinavchawla13/" target="_blank"><img class="social-icon" src="../../assets/images/instagram.png"/></a>
                    <a href="mailto:abhinavchawla13@gmail.com"><img class="social-icon" src="../../assets/images/mail.png"/></a>
            </div>
        </div>
    </div>
    <div class="bottom-right-corner">
        
        <p class="bold-white-space">BUILT WITH <del>JAVASCRIPT</del> <b>PASSION</b></p>
        <p class="bold-white-space bottom">© 2020-21, Abhinav Chawla - All rights reserved</p>
    </div>

    <div class="top-right-corner close-button" ref="closeButton">
        <div @click="backToMainIsland()" class="highlight-icon-bg">
            <img class="highlight-icon" src="../../assets/images/close.png"/>
        </div>
    </div>

    <div class="top-right-corner points" ref="points">
            <div class="right-align"><span class="points-value">{{points}}/8</span><br>events<br><span>explored</span></div>
        </div>
</div>